<h1>Cerámicas El Barro PERO CON WEBSOCKET</h1>

<ul id="products"></ul>

<h2>Agregar Producto</h2>
<form id="addProductForm">
    <label for="code">Code:</label>
    <input type="text" id="code" name="code" required>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" required>
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" required>
    <label for="stock">Stock:</label>
    <input type="text" id="stock" name="stock" required>
    <button type="submit">Agregar Producto</button>
</form>

<h3>Eliminar Producto</h3>
<form id="deleteProductForm">
    <label for="id">ID del Producto:</label>
    <input type="text" id="id" name="id" required>
    <button type="submit">Eliminar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>;

<script>
    const serverSocket = io();

    function updateProductList(products) {
        const productsList = document.getElementById('products');
        productsList.innerHTML = '';
        products.forEach(product => {
            const li = document.createElement('li');
            li.textContent = ` Id: ${product._id} - Code: ${product.code} - Title: ${product.title}`;
            productsList.appendChild(li);
        });
    }

    // Escuchar actualizaciones de productos del servidor
    serverSocket.on('updateProducts', updateProductList);

    // Actualizacion del listado al usar formulario de creacion de un producto
    document.getElementById('addProductForm').addEventListener('submit', (event) => {
        event.preventDefault();
        const code = document.getElementById('code').value;
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const category = document.getElementById('category').value;
        const stock = Number(document.getElementById('stock').value);
        const price = Number(document.getElementById('price').value);
        const status = true
        const thumbnails = []
        serverSocket.emit('addProduct', { code, status, title, description, category, stock, price, thumbnails });
        document.getElementById('addProductForm').reset();
    });


    // Actualizacion del listado al usar formulario de eliminar un producto
    document.getElementById('deleteProductForm').addEventListener('submit', (event) => {
        event.preventDefault();
        const id = document.getElementById('id').value.trim();
        serverSocket.emit('deleteProduct', id);
        document.getElementById('deleteProductForm').reset();
    });

</script>